.App {
  background-color: black;
  text-align: center;
}

.background{
  background-color: #25a9c8;
  z-index: 1;
}

.background__move{
  background-color: #25a9c8;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.background__start{
  background-color: transparent;
  position: absolute;
  z-index: 10;
}

.product__card{
  width: 25%!important;
}

.nav__menu {
  background-color: #25a9c8;
  width: 25%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 1050ms;
  padding: 48px 0 0;
  border-right: 1px solid gray;
  z-index: 100;
}

.nav__menu.active {
  left: 0;
  transition: 1050ms;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .product__card{
    width: 50%!important;
  }
}