.App {
  background-color: black;
  text-align: center;
}

.background{
  background-color: #25a9c8;
  z-index: 10;
}

.background__move{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.background__start{
  position: absolute;
  z-index: 10;
}

.product__card{
  width: 25%!important;
}

.nav__menu {
  background-color: #25a9c8;
  width: 25%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 1050ms;
  padding: 48px 10px 0;
  border-right: 1px solid gray;
  z-index: 100;
  text-align: start;
}

.nav__menu.active {
  left: 0;
  transition: 1050ms;
  z-index: 100;
}

.search__bar{
  background-color: black;
  width: 100%;
  height: auto;
  position: absolute;
  left: -100%;
  transition: 1050ms;
  padding: 30px 0 0;
  margin: none;
  z-index: 100;
}

.search__bar.active {
  position: relative;
  left: 0;
  transition: 1050ms;
  z-index: 100;
  border-bottom: 1px solid gray;
}

.product__image{
  width: 50%;
}

.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border: 1px solid transparent !important;
  border-radius: 10px;
}

.color__button{
  border: 2px solid white!important;
}

.cart__num{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 1px;
  width: 8px;
  height: 8px;
  font-size: 10px;
  color: white;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
}

.cart{
  display: inline-block;
  position: relative;
}

.form-control::placeholder {
  color: white!important;
}

.login__width{
  width: 25%;
}

.cart__width{
  width: 50%!important;
}

@media screen and (max-width: 768px) {
  .product__card{
    width: 50%!important;
  }

  .product__image{
    width: 100%;
  }

  .login__width{
    width: 60%;
  }

  .cart__width{
    width: 100%!important;
  }

  .nav__menu{
    width: 75%;
  }
}